{% extends 'base_bcp.html.twig' %}

{% block title %}BCP - Accueil
{% endblock %}

{% block body %}

	{% include "_partial/_flash.html.twig" %}
	<div class="center">
		<h1>Hello
			{{ app.user.firstName | capitalize }}</h1>
	</div>
{% endblock %}
