{% extends 'base_bcp.html.twig' %}

{% block title %}Modifier ses informations
{% endblock %}

{% block body %}
	<h3 class="header center orange-text">Modifier ses informations</h3>
	<div class="row">
		<div class="col s12 m4 offset-m4">
			{{ include('bcp/account/_form.html.twig') }}
		</div>
	</div>
{% endblock %}
