{% for label, messages in app.flashes %}
	<div class="container">
		{% for message in messages %}
			{% if label == 'success' %}
				<script>
					$(document).ready(function () {
var notification = new NotificationFx({
wrapper: document.body,
message: '{{ message }}',
layout: 'growl',
effect: 'slide',
type: 'success',
ttl: 3000,
onClose: function () {
return false;
},
onOpen: function () {
return false;
}
});
notification.show();

})
				</script>
			{% endif %}
			{% if label == 'danger' %}
				<script>
					var notification = new NotificationFx({
wrapper: document.body,
message: '{{ message }}',

layout: 'growl',
effect: 'genie',
type: 'error',
ttl: 6000
});
notification.show();
				</script>
			{% endif %}
		{% endfor %}
	</div>
{% endfor %}
